:root{
    --primary-pale-blue: hsl(225, 100%, 94%);
 --primary-bright-blue:hsl(245, 75%, 52%);
 --neutral-very-pale: hsl(224, 23%, 55%);
 --neutral-very-dark-blue:hsl(223, 47%, 23%);
--neutral-desaturated-blue:hsl(224, 23%, 55%);
font-size: 16px;
}

body{
    background-color: var(--primary-pale-blue);
    background-image: url("images/pattern-background-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
}